$color-primary: 	 	#5661b3;
$color-secundary:		#2f365f;

$color-text:			#1A2430;
$color-icons:		#A1ACB7;

$color-link:				#0576b9;
$color-link-hover: 		#0576b9;

$color-elements:	#24292e;
$color-divider:		#d1d5da;
$color-accent:		#f6f8fa;

$color-success: 	#20bc71;
$color-error:		#ee2455;